/* ==============================================================
                GENERAL
============================================================== */

body, html { height: 100%; }

.price{
    font-weight: bold;
    color: rgb(0, 21, 143);
    text-align: right;
}


/* ==============================================================
                HEADER
============================================================== */

header#accueil {
    min-height: 50vh;
    background-image: url("../img/accueil/headermobil.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ==============================================================
                FOOTER
============================================================== */

footer{
	padding: 5rem 0;
	background-color:black;
	position:relative;
	width:100%;
}
.Mention{
	color:white;
	position:absolute;
	bottom:0px;
	
}
.list-unstyled li{
	height:50px;
	font-size:2em;
}
ul li a{
	color:#ff3300;
}
.reseaux i{
	color:#ff3300;
	font-size:50px;
	margin:5px;
	
}
h2{
	color:white;
}
.paiement i{
	color:white;
	padding:5px;
	font-size:30px;
	text-align:center;
}
.paiement{
	margin-bottom:20px;
	margin-top:20px;
	color:white;
}
.paiement table td{
	padding:0.8em;
}

.paiement tr:nth-child(2){
	text-align:left;
	vertical-align:middle;
}

@media (min-width:1201px){
	.reseaux i{
		font-size:30px;
	}
	
	.list-unstyled > li{
		font-size:1em;
		height:25px;
		text-align:left;
		margin-left:110px;
	}
}

/* ==============================================================
                GRID TICKETS COMMAND
============================================================== */
@media (min-width: 1200px){
    .grid-tickets-command{
        max-width: 45%;
    }
}

@media (min-width: 992px){
    .grid-tickets-command{
        max-width: 65%;
    }
}
