/* ==============================================================
                GENERAL
============================================================== */

body, html { height: 100%; }

.price{
    font-weight: bold;
    color: rgb(0, 21, 143);
    text-align: right;
}


/* ==============================================================
                HEADER
============================================================== */

header#accueil {
    min-height: 30vh;
    background-image: url("../img/accueil/headermobil.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .dropdown-menu {
	background-color: #343a40;
	border: none;
}

header .dropdown-menu a {
	color: White;
}

header .dropdown-menu .dropdown-divider {
	border-top: 1px solid #525151;
}

/* Small devices (landscape phones, 576px and up)              */
@media (min-width: 576px) { 
	header#accueil { min-height: 40vh; }
}

/* Medium devices (tablets, 768px and up)                      */
@media (min-width: 768px) { 
	header#accueil { min-height: 55vh; }
}

/* Large devices (desktops, 992px and up)                      */
@media (min-width: 992px) { 
	header#accueil { min-height: 60vh; }
}

/* Extra large devices (large desktops, 1200px and up)         */
@media (min-width: 1200px) { 
	header#accueil { min-height: 75vh; }
}


/* ==============================================================
                FOOTER
============================================================== */

footer{
	padding: 5rem 0;
	background-color:black;
	position:relative;
	width:100%;
}
.Mention{
	color:white;
	position:absolute;
	bottom:0px;
	
}
.navigation{
	margin-top:50px;
}
.list-unstyled li{
	height:50px;
	font-size:2em;
}
footer ul li a{
	color:#ff3300;
}
.reseaux i{
	color:#ff3300;
	font-size:50px;
	margin:5px;
	
}
.reseaux{
	margin-top:50px;
}

footer h2{
	color:white;
}
.paiement i{
	color:white;
	padding:5px;
	font-size:30px;
	text-align:center;
}
.paiement{
	margin-bottom:20px;
	margin-top:50px;
	color:white;
}
.paiement table td{
	padding:0.8em;
}

.paiement tr:nth-child(2){
	text-align:left;
	vertical-align:middle;
}

@media (min-width:1201px){
	.reseaux i{
		font-size:30px;
	}
	
	.list-unstyled > li{
		font-size:1em;
		height:25px;
		text-align:left;
		margin-left:110px;
	}
	
	.reseaux{
		margin-top:150px;
	}
}

/* ==============================================================
                GRID TICKETS COMMAND
============================================================== */
@media (min-width: 1200px){
    .grid-tickets-command{
        max-width: 45%;
    }
}

@media (min-width: 992px){
    .grid-tickets-command{
        max-width: 65%;
    }
}

/* ==============================================================
                INDEX CONTENT
============================================================== */
.history{
	padding:20px;
	width:100% !important;
	color:black;
	font-weight:bold
}

.history p{
	padding-top:20px;
	color:black !important;
	margin-bottom:3rem!important;
}
	
.content{margin-top:40px;}

.content-card{
	background-color:#242424;
	color:white;
}

.img-content{
	width:90%;
	margin:5% auto;
}

button{
	float:right !important;
	margin-bottom:20px;
}


	
@media (min-width: 768px) { 

.card img{
	position: relative !important;
	top: 50% !important;
    transform: translateY(-50%) !important;
	padding:10%;
}

.card-group .content-card{display:none ;}
}

@media (max-width: 767px){
	.content .content-card{display:none;}
}


/* ==============================================================
                PAGE FESTIVAL ROCK
============================================================== */
#pass1{
	margin-top:15px;
}

#pass2{
	margin-top:15px;
}

#pass3{
	margin-top:15px;
}

.img-custom{
	max-width:100%;
	margin-bottom:25px;
}

.text-custom{
	text-align:center;
	font-size:1.5em;
	font-weight:bold;
}

@media (min-width:641px){
	#accordionExample .card{
		width:66%;
	}
	
	iframe{
		height:380px;
	}
	
	.img-custom{
		width:66%;
	}
}

/* ==============================================================
                PRODUCT COMMAND
============================================================== */

@media (min-width: 992px){
	#productCommandBlock{
		max-width:65%;
		margin: auto;
	}
}
