/* ==============================================================
                GENERAL
============================================================== */

body, html { height: 100%; }

.price{
    font-weight: bold;
    color: rgb(0, 21, 143);
    text-align: right;
}

/* ==============================================================
                HEADER
============================================================== */

header {
    min-height: 50vh;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ==============================================================
                GRID TICKETS COMMAND
============================================================== */
@media (min-width: 1200px){
    .grid-tickets-command{
        max-width: 45%;
    }
}

@media (max-width: 1199.98px){
    .grid-tickets-command{
        max-width: 65%;
    }
}

@media (mmin-width: 992px){
    .grid-tickets-command{
        max-width: 75%;
    }
}

